
- if @schedule.empty?
  Nothing found
- else
  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th
          Time
        %th
          Room
        %th.hidden-phone
          Groups
        %th
          Teacher
        %th
          Subject

    %tbody
      - @schedule.each do |item|
        %tr
          %td
            %span.hidden-phone
              = item[:time].strftime '%d.%m.%Y %H:%M'
            %span.hidden-desktop
              = item[:time].strftime '%d.%m.%y %H:%M'
          %td
            = item[:room].map(&:name).join('; ')
          %td.hidden-phone
            = item[:groups].map(&:name).join('; ')
          %td
            = item[:teacher].name
          %td
            = item[:name]
            = item[:comment]
            = item[:class]